/* main section */
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  main {
    padding: 0;
  }
}

#left-article, #right-article {
  padding: 2vh 2vw;
}

#left-article h3, #right-article h3 {
  font-size: 1.2rem;
  color: #1A2D35;
  font-weight: bold;
}

#left-article p, #right-article p {
  margin: 1rem 0;
}

@media screen and (max-width: 767px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1vh 5vw;
    background-color: rgb(227,238,242);
  }
  #left-article, #right-article {
    padding: 2vh 2vw;
    width: 100%;
  }
  #left-article h3, #right-article h3 {
    color: #1A2D35;
    font-weight: bold;
  }
  #left-article p, #right-article p {
    padding: 2vh 0;
    color: #38647A;
  }
  #left-article img, #right-article img {
    display: block;
    margin: 0 auto;
  }
}
#left-article ul {
  padding: 2vh 2vw;
}
#left-article li {
  list-style: none;
  color: #38647A;
  font-weight: bold;
  margin-bottom: .5rem;
}

#left-article li::before{
    content: "\25A0";
    font-size: 0.8em;
    color: #1A2D35;
    font-weight: bold;
    padding-right: 1rem;
    width: 1em;
}

#examples {
  background-color: #82A3B0;
  padding: 2vh 0 0 2vw;
  border: 1px #1A2D33 solid;
  box-shadow: #1A2D33 0.5vh 0.5vh 1vh;
}

#right-article img {
  width: 65%;
  border-radius: 2%;
  margin-top: 1rem;
}
#right-article a {
  color: #38647A;
  text-decoration: none;
  font-weight: bold;
}