/* main section */
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  main {
    padding: 0;
  }
}

main a {
  font-weight: bold;
}

#left-article, #right-article {
  padding: 0 2vw;
}
#left-article h3, #right-article h3 {
  font-size: 3vh;
  color: #1A2D35;
  font-weight: bold;
}
#left-article p, #right-article p {
  padding: 2vh 0;
  color: #38647A;
}

@media screen and (max-width: 767px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1vh 5vw;
    background-color: rgb(227,238,242);
  }
  #left-article, #right-article {
    padding: 2vh 2vw;
    width: 100%;
  }
  #left-article h3, #right-article h3 {
    font-size: 3vh;
    color: #1A2D35;
    font-weight: bold;
  }
  #left-article p, #right-article p {
    padding: 2vh 0;
    color: #38647A;
  }
  #left-article img, #right-article img {
    display: block;
    margin: 0 auto;
  }
}
#left-article ul {
  padding: 2vh 2vw;
  list-style: square inside;
}
#left-article li {
  color: #38647A;
  font-weight: bold;
}

#examples {
  background-color: #82A3B0;
  padding: 2vh 2vw;
  box-shadow: #1A2D33 0.5vh 0.5vh 1vh;
}

#right-article img {
  width: 65%;
  border-radius: 2%;
  margin: 2vh 0;
}
#right-article a {
  color: #38647A;
  text-decoration: none;
}