main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main header h3 {
  font-size: 1.5rem;
  color: #1A2D35;
  font-weight: bold;
}

main header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content p {
  padding: 0.5rem 0;
  color: #38647A;
}

@media screen and (max-width: 767px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    align-items: center;
    padding: 0 1vw;
    background-color: rgb(227,238,242);
  }
}
