/* main section */
main {
  display: grid;
  grid-template-rows: 1fr max-content;
}

figure {
  padding: 0;
  margin: 0;
}

figure img {
  width: 100%;
  padding: 0;
  margin: 0;
}

article {
  background-color: rgb(227,238,242);
}

article p {
  padding: 0 1vw;
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  article {
    background-color: white;
  }
  article p {
    padding: 2vh 2vw;
  }
}
