/* main section */
main {
  padding: 0;
}

img {
  max-height: 50vh;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.lower {
  background-color: rgb(227,238,242);
  padding: 2vh 2vw;
  padding-bottom: 0;
}

.lower p {
  padding-bottom: 1.5vh;
}

.lower em{
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .lower p {
    padding: 1vh 2vw;
  }
}
