*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background: linear-gradient(0deg, #38647A, #ffffff);
    min-height: 100vh;
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    padding: 2vh max(10px, 10vw);
}

@media screen and (max-width: 992px) {
  body, html {
    background: #366278;
  }
  .container {
    padding: 0;
  }
}

/* header */
header{
    grid-row: 1/span 1;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1vh 0;
}

header h1 {
    font-size: 3rem;
    color: #38647A;
    text-shadow: 0 0 1rem #38647A;
  }

header h4 {
    color: #38647A;
    font-style: italic;
  }

  @media screen and (max-width: 992px) {
    header {
      color: white;
    }
    header h1 {
      font-size: 2rem;
      color: white;
    }
    header h4 {
      color: white;
    }
  }

 /* navigation bar */
nav {
    grid-row: 2/span 1;
    background-color: #1A2D33;
  }
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
nav li {
    display: inline-block;
    padding: 1vh 1vw;
  }
nav a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
  }

  @media screen and (max-width: 767px) {
    nav {
      height: 100%;
    }
    nav ul {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-evenly;
    }

    nav ul li {
      width: max(25%, content);
      align-self: center;
      justify-self: center;
      text-align: center;
    }

  }

/* main section */
main{
    grid-row: 3/span 1;
    background-color: rgb(227,238,242);
    color: black;
    padding: 5vh 3vw;
}

main h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #1A2D35;
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
  gap: 2vw;
}

fieldset{
  border: 1px black solid;
  padding: 2vw;
}

legend{
  font-size: 1.2rem;
  font-weight:bold;
  margin-left: 1rem;
}

.user_info label, .preferences label, .interests p{
  display: block;
  margin-top: 1rem;
}

.interests p{
  font-size: 1.2rem;
  color: #1A2D35;
}
.interests li{
  margin-top: 4vh;
}

select{
  margin-bottom: 2vh;
}

textarea{
  width: 100%;
  min-width: 10rem;
  max-width: 70%;
}

button{
  display: block;
  margin: auto;
  margin-top: 3rem;
  background-color: rgb(168,202,214);
  padding: max(1rem, 1.8vw);
  border: none;
  border-radius: .6rem;
}


@media screen and (max-width: 767px) {
  main h2, legend, .interests p, label {
    font-size: 1.2rem;
  }

  form{
  grid-template-columns: minmax(180px,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  }
}


/* footer */
footer{
  grid-row: 4/span 1;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2vh 0;
  background: #3a687f;
}

footer p, footer a {
 font-size: .8rem;
 color: white;
 padding: 0;
 margin: 0;
 }

 footer a {
    text-decoration: none;
  }

  @media screen and (max-width: 992px) {
    footer{
      background: #366278;
    }
  }