/* main section */
main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

table{
    flex: 1;
}

table, td, th{
    border: 1px black solid;
}

table caption, main h2{
    font-size: 1.5rem;
    color: #1A2D35;
    font-weight: bold;
    margin-bottom: 1rem;
}

thead{
    background-color: #1A2D33;
    color: white;
    font-weight: bold;
}

td, th{
    padding: 1rem;
}

#table-row-1, #table-row-3, #table-row-5{
    color: #1A2D35;
}

td:not(a){
    padding-right: 4rem;
}

tbody th{
    text-align: left;
}

tbody tr:nth-of-type(2n), tfoot{
    background-color: rgb(168,201,216);
    color: white
}

table a{
    color: #38647A;
    font-weight: bold;
    text-decoration: none;
}

article {
    color: #1A2D35;
    display: none;
}

@media screen and (max-width: 767px) {
    table {
      display: none;
    }

    article{
        display:block;
    }
}