*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
  background: #366278;
}

body {
    background: linear-gradient(0deg, #38647A, #ffffff);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content) 1fr max-content;
    padding: 0 max(10px, 15vw);
}

@media screen and (max-width: 992px) {
  body, html {
    background: #366278;
  }
  .container {
    padding: 0;
  }
}

/* header */
.container > header{
    grid-row: 1/span 1;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.container > header h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #38647A;
    text-shadow: 0 0 1rem #38647A;
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

.container > header h2 {
    color: #38647A;
    font-style: italic;
    font-weight: bolder;
    padding-bottom: .4rem;
  }

  @media screen and (max-width: 992px) {
    .container > header {
      color: white;
    }
    .container > header h1 {
      font-size: 2rem;
      color: white;
    }
    .container > header h2 {
      color: white;
    }
  }

 /* navigation bar */
 nav {
    grid-row: 2/span 1;
    background-color: #1A2D33;
  }
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
nav li {
    display: inline-block;
    padding: .5rem 1rem;
  }
nav a {
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 2px;
    color: #ffffff;
  }

nav a:hover{
  color:#38647A;
}

  @media screen and (max-width: 767px) {
    nav {
      height: 100%;
    }
    nav ul {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
    }
    nav ul li {
      text-align: center;
      border: white solid 1px;
      width: 100%;
      color: white;
      padding: 2vh 0;
      margin: 0;
    }
  }

/* main section */
main{
    grid-row: 3/span 1;
    background-color: rgb(227,238,242);
    padding: 5vh 3vw;
    color: #1A2D33;
}

@media screen and (min-width: 768px){
  main{
    max-height: 80vh;
  }
}

/* footer */
footer{
    grid-row: 4/span 1;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2vh 0;
    letter-spacing: 1px;
  }

footer p, footer a {
    font-size: .9rem;
    color: white;
    padding: 0;
    margin: 0;
 }

footer a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    footer{
    background: #366278;
    }
}