*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background: linear-gradient(0deg, #38647A, #ffffff);
  min-height: 100vh;
}

header{
  grid-row: 1/span 1;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1vh 0;
}

header h1 {
  font-size: 3rem;
  color: #38647A;
  text-shadow: 0 0 1rem #38647A;
}

header h4 {
  color: #38647A;
  font-style: italic;
}

@media screen and (max-width: 991px) {
  header {
    color: white;
  }
  header h1 {
    font-size: 2rem;
    color: white;
  }
  header h4 {
    color: white;
  }
}

main {
  padding: 0 10vw;
}

@media screen and (max-width: 767px) {
  main {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  main {
    padding: 0;
  }
}

nav {
  grid-row: 2/span 1;
  background-color: #1A2D33;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 1vh 1vw;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  nav {
    height: 100%;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  nav ul li {
    text-align: center;
    border: white solid 1px;
    width: 100%;
    color: white;
    padding: 2vh 0;
  }
}

#content {
  min-height: 50vh;
  padding: 5vh 2vw;
  background-color: rgb(227,238,242);
}
#content header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#content header h2 {
  font-size: 4vh;
  color: #1A2D35;
  font-weight: bold;
}
#content header p {
  font-size: 2vh;
  padding: 2vh 0;
  color: #1A2D35;
}

@media screen and (max-width: 767px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1vh 5vw;
    background-color: rgb(227,238,242);
  }
  #content header {
    margin: 0 5vw;
  }
}
@media screen and (max-width: 991px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1vh 5vw;
    background-color: white;
  }
  #content header {
    margin: 0 5vw;
  }
}
#content #vehicles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5vh;
  margin: 5vh 5vw;
  justify-items: center;
}
#content #vehicles article {
  background-color: #93B1BE;
  padding: 1vh;
  border: #38647A solid 1px;
}
#content #vehicles article figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content #vehicles article figure img {
  width: 100%;
  height: 100%;
}
#content #vehicles article figure figcaption {
  padding: 1vh 0;
  font-size: 2vh;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #content #vehicles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5vh;
    margin: 1vh 1vw;
    justify-items: center;
  }
  #content #vehicles article {
    background-color: #93B1BE;
    padding: 1vh;
    border: #38647A solid 1px;
  }
  #content #vehicles article figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #content #vehicles article figure img {
    width: 100%;
    height: 100%;
  }
  #content #vehicles article figure figcaption {
    font-size: 2vh;
    text-align: center;
  }
}
/* footer */
footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 2vh 0;
}
footer p, footer a {
  font-size: 80%;
  color: white;
  padding: 0;
  margin: 0;
}
footer a {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  footer{
    background: #366278;
  }
}

/*# sourceMappingURL=unmanned-vehicles.css.map */
