/* main section */
main{
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 3vh 3vw;
}

main .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main .header h2 {
  font-size: 1.8rem;
  color: #1A2D35;
  font-weight: bold;
  font-style: normal;
}

main .header p {
  font-size: 1rem;
  color: #1A2D35;
  margin: 1.5vh 0;
}

@media screen and (max-width: 991px) {
  main {
    padding: 1vh 5vw;
    background-color: rgb(227,238,242);
  }
  main .header {
    margin: 2vh 1vw 0 1vw;
  }
}

.vehicles {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  justify-content: space-between;
}


figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #93B1BE;
  padding: 1vh 0;
  border: #38647A solid 2px;
}

figure img {
  width: 90%;
  height: 85%;
  padding: 1.5vh 1vw;
}

figure figcaption {
  padding-bottom: 1vh;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .vehicles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1vh 1vw;
    margin: 2vh 1vw;
    justify-items: center;
  }

  figure img {
    width: 100%;
    padding: 1.5vh 1vw;
  }
}

@media screen and (min-width: 991px){
  #bus, #train{
    grid-column: 1/span 1;
    justify-self: start;
  }
  #truck, #drone{
    grid-column: 2/span 1;
    justify-self: end;
  }
  figure{
    width: clamp(150px, 400px, 800px);
    max-height: 28vh;
    height: auto;
  }
  figure img {
    width: 90%;
    height: 85%;
    padding: 1.5vh 1vw;
  }
}



